[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyterlab = "*"
ipywidgets = ">=7.5"
pre-commit = "*"
isort = "*"
black = "==19.10b0"
flake8 = "*"
jupyterlab-git = "*"
jupyterlab-code-formatter = "*"
jupyterlab-lsp = "*"
python-language-server = {git = "https://github.com/krassowski/python-language-server.git"}

[packages]
numpy = "*"
scipy = "*"
sympy = "*"
plotly = "*"
pandas = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
