[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyterlab = "*"
ipywidgets = ">=7.5"
pre-commit = "*"
isort = "*"
black = "*"
flake8 = "*"
pytest = "*"

[packages]
numpy = "*"
scipy = "*"
sympy = "*"
plotly = "*"
pandas = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
